<div class="die eyes-{{value}} visible-{{visible}}" (click)="roll()">
	<svg viewBox="-2.2 -2.2 4.4 4.4">
		<defs>
			<circle id="oog" cx="0" cy="0" r="0.4"/>
		</defs>

		<rect x="-2" y="-2" width="4" height="4" rx="0" ry="0" 
			style="fill:#feffe1;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:.001"/>
		
		<use x="0" y="0" xlink:href="#oog" class="odd" />
		<g class="pair1">
			<use x="-1" y="-1" xlink:href="#oog" />
			<use x="1" y="1" xlink:href="#oog" />
		</g>
		<g class="pair2">
			<use x="1" y="-1" xlink:href="#oog" />
			<use x="-1" y="1" xlink:href="#oog" />
		</g>
		<g class="pair3">
			<use x="-1" y="0" xlink:href="#oog" />
			<use x="1" y="0" xlink:href="#oog" />
		</g>
	</svg>
</div>